$mainColor : #FF4343; 
body{
  height: 300vh;
}
.wrapper{
  width: 650px;
  /* margin: 0 auto; */
  height: 400px;
  background: rgb(177, 177, 177);
  overflow: hidden;
}
.slider_wrap{
  width: 3200px;
  /* 如果沒有加left 0的話第一次會沒有trasition，因為transiton是兩個值之間的漸變，所以如果沒有預設值第一次會沒有漸變效果 */
  left: 0px;
  transition: .5s;
}
/* 原本沒有設li高度的時候照片會超出範圍 */
.slider_wrap li{
  height: 400px;
  width: 800px;
}
.slider_wrap li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.paging{
  bottom: 0px;
  /* 因為是position absolute所以用justify content center沒有用，要把寬度加回去才會有效 */
  width: 100%;
}
.paging li{
  width: 15px;
  height: 15px;
  margin: 10px 5px;
  border: 1px solid $mainColor;
  border-radius: 50%;
}
/* 預設第一張照片的白點點，也可以用js控制 */
.paging li:nth-child(1){
  background-color: $mainColor;
}
.paging li:hover{
  background-color: $mainColor;
}
.arrow_area{
  z-index: 10;
  /* background: red; */
  cursor: pointer;
  top: 0;
  /* left: 0; */
  width: 48px;
  height: 100%;
  font-size: 48px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  opacity: .5;
}
.arrow_area:hover{
  opacity: 1;
}
// .arrow_area .fas{
//   color: white;
// }
.arrow_area_left{
  left: 0;
}
.arrow_area_right{
  right: 0;
}