$color_red: #FF4343;
$color_grey: #404040;
$color_light_grey: #c7c7c7;

$title_size1: 2rem;
$title_size2: 1.5rem;
$p_size: 1.25rem;
$title_fontWeight: 700;
.title1{
    font-size: $title_size1;
    font-weight: $title_fontWeight;
}
.title2{
    font-size: $title_size2;
    font-weight: $title_fontWeight;
}
.text{
    font-size: $p_size;
}

.p_slider_wrap{
    width: 100%;
}
.category_pic{
    
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
.category_wrap{
    .category_title{
        // color: red;
        margin: 15px 15px 0 15px;
    }
    .p_card{
        width: 220px;
        height: 300px;
        border: 1px solid $color_light_grey;
        border-radius: 10px;
        margin: 5px 15px;
        cursor: pointer;
        .upper_card{
            position: relative;
            .card_pic{
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            .rate{
                position: absolute;
                bottom: 10px;
                right: 10px;
                color: #ff0037;
                background-color: rgba(255, 255, 255, 0.45);
                border-radius: 50%;
                padding: 10px;
            }
        }
        .lower_card{
            padding: 10px;
            position: relative;
            .like_btn{
                height: 20px;
                position: absolute;
                right: 50px;
            }
            .share_btn{
                height: 20px;
                position: absolute;
                right: 20px;
            }
        }
        
    }
}

